Repository 57blocks/react-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:scss

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "yarn run lint:js"
  ],
  "*.scss": "yarn run lint:scss"
}

feat: update main page
  .eslintrc.json
  .lintstagedrc.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  src/App.test.tsx
  src/App.tsx
  src/logo.svg
  yarn.lock
Due: yarn run lint:js

feat: add e2e test
  .eslintrc.json
  .github/workflows/react-starter-kit.yml
  .gitignore
  package.json
  playwright.config.ts
  sonar-project.properties
  tests/example.spec.ts
  tsconfig.json
  yarn.lock
Due: yarn run lint:js

feat: add e2e test
  .eslintrc.json
Due: none

feat: update github action
  .github/workflows/react-starter-kit.yml
Due: none

feat: update readme
  README.md
Due: none

feat: update githubaction
  .github/workflows/react-starter-kit.yml
Due: none

fix: add PR check workflow
  .github/workflows/pr.yml
  .github/workflows/react-starter-kit.yml
Due: none

fix: update runs-on
  .github/workflows/react-starter-kit.yml
Due: none

feat: add sass
  package.json
  src/App.tsx
  src/assets/logo.svg
  src/index.tsx
  src/pages/Home.scss
  src/pages/Home.test.tsx
  src/pages/Home.tsx
  src/styles/_reset.scss
  src/styles/index.scss
  yarn.lock
Due: yarn run lint:js, yarn run lint:scss
